<div class="container">
  <div class="card">
    <div class="card-header">
      <h3>Books</h3>
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr class="text-center">
            <th>Title</th>
            <th>Author</th>
            <th>Read</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of arrBooks" class="text-center">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.read }}</td>
            <td>
              <button (click)="Edit(book)" class="btn btn-warning">Update</button>
              <button (click)="Delete(book)" class="btn btn-danger" style="margin-left: 10px;">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
